* {
  box-sizing: border-box;
}



  .btn {
    width: 100%;

  }

  .facebook {
    margin-bottom: 10px;
  }
}

li {
  list-style: none;
  
}


.header {
  background-color: #b32182;
  height: 90px;
  position: fixed;
  top:0;
  z-index: 10;
  width: 100%;
  color: white;
}

.header-logo {
  font-size: 36px;
  float: left;
  padding: 20px 40px;

}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.header-list li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.main {
  padding: 100px 80px;
 
  
}



.contents-item h3 {
  font-size: 30px;
}



.copy-container {
  text-align: center;
}

.copy-container h1 {
font-size:140px;
opacity: 0.7;

}

.copy-container h2{
  font-size:80px;
}

.btn:hover {
  opacity: 1;
}

.signup {
  
   background-color:  #239b76;
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    box-shadow: 0 7px #1a7940;
}

.twitter {
  background-color: #55acee;
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  box-shadow: 0 7px steelblue;
}


.facebook {
  background-color: #3b5998;
  margin-right: 10px;
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  box-shadow: 0 7px darkblue;
}

.btn-wrapper {
  text-align: center;
}

.btn:active {
  box-shadow:none;
  position: relative;
  top:7px
}


.section-title {
  border-bottom: 2px solid #dee7ec;
}

.contact-form {
  padding-top: 100px;
}


input, textarea {
  width: 400px;
  margin:10px 0 30px 0;
  padding:20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}


.footer {
  background-color: #2f5167;
  height:200px;
  color: #fff;
  padding: 40px;

}


.footer-logo {
  font-size: 32px;
  float: left;
}

.footer-list {
  float:right;
}

.footer-list li {
  padding-bottom: 20px;
}

.footer-list li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}



